<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/patientHome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  
  <header class="header">

    <a href="#" class="logo"> <i class="fas fa-heartbeat"></i> <strong>Welcome <%= patientNAME %></strong> </a>


    <!-- NAVBAR -->
    <nav class="navbar" style="display: flex;">
      <div class="dropdown">
        <a href="#Hospitals">Hospitals</a>
        <div class="dropdown-content">
          <a href="#pvtHospitals">Private Hospital</a>
          <a href="#govtHospitals">Government Hospital</a>
        </div>
      </div>

      <a href="#pathlab">Pathology Lab</a>

      <div class="dropdown">
        <a href="">Profile</a>
        <div class="dropdown-content">
          <a href="/patient/patientProfile"> My Profile</a>
          <a href="/patient/logout">Log Out</a>
        </div>
      </div>
     
    </nav>
    

    <div id="menu-btn" class="fas fa-bars"></div>

</header>

<!-- CONTAINER -->
  <div class="container" style="padding-top:60px;">

    <div class="first" style="display: flex;">



      <!-- Ai Result -->

      <div class="left">
       
        <section class="appointment" id="appointment">
          <div class="row">
              <div class="image">
                  <img src="image/appointment-img.svg" alt="">
              </div>
              <div class="report">
                  <h3>Medical Report</h3>
                  <table id="medical-table">
                      <tr>
                          <td><strong>Name </strong></td>
                          <td id="name"><%= patientNAME %></td>
                      </tr>
                      <tr>
                        <td><strong>PId</strong></td>
                        <td><%= patientId %> </td>
                    </tr>
                      <tr>
                          <td><strong>Disease  </strong></td>
                          <td id="desease"> </td>
                      </tr>
                      <tr>
                          <td><strong>Email </strong></td>
                          <td id="email"><%= patientEmail %></td>
                      </tr>
                      <tr>
                        <td><strong>Date </strong></td>
                        <td id="date"></td>
                    </tr>
                    
                     
                  </table>
              </div>
          </div>
      </section>
      
      
      </div>










      <!-- APPOINTMENT FORM -->
      <div class="right">

        <section class="appointment" id="appointment">

            
      
          <div class="row">
      
              <div class="image">
                  <img src="image/appointment-img.svg" alt="">
              </div>
      
              <form action="/patient/patientAppointments" method="post">
            
                  <h3>make appointment</h3>
                  <input type="text"name="name" id="name" placeholder="Your name" class="box">
                  <input type="text"name="number" id="number" placeholder="Your number" class="box">
                  <input type="email"name="email" id="email" placeholder="Your email" class="box">
                  <input type="date"name="date" class="box" id="date" placeholder="Date">
                  <input type="time"name="time" class="box" id="time" placeholder="Time">

                 <!-- Error Control -->
                 <% if (locals.error) { %>
                    <div class="container-fluid">
                        <div class="alert alert-danger py-2" role="alert">
                            <%= locals.error %>
                        </div>
                    </div>
                <% } %>


                  <input type="submit" name="submit" value="Book a appointment" class="btn">
              </form>
      
          </div>
      
      </section>


      </div>

    </div>

    <!-- TOP DOCOTORS -->
    <section class="doctors" id="doctors">

      <h1 class="heading"> Top <span>doctors</span> </h1>
  
      <div class="box-container">

        <div class="box">
          <img src="/doc6..jpg" alt="">
          <h3>Dr. Abhishek sharma</h3>
          <span>Orthopedist</span>
          <div class="share">
              
            <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
          </div>
      </div>
      <div class="box">
          <img src="/doc4..jpg" alt="">
          <h3>Dr.Rohit kumar</h3>
          <span>Dermatologist</span>
          <div class="share">
            <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
          </div>
      </div>
      <div class="box">
          <img src="/doc5..jpg" alt="">
          <h3>Dr. Ayush singh</h3>
          <span>Family medicine</span>
          <div class="share">
            <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
          </div>
      </div>
  
          <div class="box">
              <img src="/doc3..jpg" alt="">
              <h3>Dr. Amitav Mohanty</h3>
              <span>Medicine specialist</span>
              <div class="share">
              <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
                  <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
                  <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                  <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                  
              </div>
          </div>
  
          <div class="box">
              <img src="/doc1..jpg" alt="">
              <h3>Dr. Sudhir Pattanaik</h3>
              <span>paediatrician</span>
              <div class="share">
                <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                
              </div>
          </div>
  
          <div class="box">
              <img src="/doc10..jpg" alt="">
              <h3>Dr. Sanjana Mahapatra</h3>
              <span>Neurologist</span>
              <div class="share">
                <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                
              </div>
          </div>
  
          <div class="box">
              <img src="/dent.jpg" alt="">
              <h3>Dr. Rk panda</h3>
              <span>Oncologist</span>
              <div class="share">
                <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                
              </div>
          </div>
  
          <div class="box">
              <img src="/doc9..jpg" alt="">
              <h3>Dr. Sandhya Swain</h3>
              <span>Gyneologist</span>
              <div class="share">
                <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                
              </div>
          </div>
  
          <div class="box">
              <img src="/doc7..jpg" alt="">
              <h3>Dr. Sujata sahoo</h3>
              <span>Allergist</span>
              <div class="share">
                <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.x.com" target="_blank" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
              
              </div>
          </div>
          
  
      </div>
  
  </section>
<!-- PRIVATE HOSPITALS -->
<section class="services" id="pvtHospitals">

  <h1 class="heading"> Private <span>Hospital</span> </h1>

  <div class="box-container">

      <div class="box">
          <i class=""><img style="height: 80px;" src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/logo.svg" alt=""></i>
          <h3>Apollo Hospital</h3>
          <p>Apollo Hospitals Is The Leading Multispecialty Health Care Unit With Best In Class Treatments For Cancer, Knee Replacements, Liver Transplant, Heart</p>
          <a href="https://www.apollohospitals.com/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 50px;" src="	https://www.amrihospitals.in/front_assets/images/logo.png" alt=""></i>
          <h3>AMRI HOSPITALS </h3>
          <p>Ranked among Odisha's premier healthcare institutions, AMRI Hospitals Bhubaneswar offers tertiary-level clinical care supported by a diverse team of skilled and expert  doctors also ...</p>
          <a href="https://www.amrihospitals.in/book-appointment" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 60px;" src="https://kims.kiit.ac.in/wp-content/uploads/2022/06/KIMS-Hospital-Bhubaneswar-Logo1k-600x193.png
            " alt=""></i>
          <h3>K I M S</h3>
          <p>KIMS Hospital & Medical College - A premier institution Providing exceptional Healthcare & medical education.Ranked 26th by NIRF | 5th Best ...Renouned all around india</p>
          <a href="https://kims.kiit.ac.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 70px;" src="https://www.carehospitals.com/assets/images/cares-logo.webp" alt=""></i>
          <h3>The CARE Hospitals</h3>
          <p>CARE Hospitals is one of the Best Hospital in Hyderabad. With a network of more than 13 multispeciality hospitals across India, we offer world-class care ...</p>
          <a href="https://www.carehospitals.com/"target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 60px;" src="https://sumum.soahospitals.com/wp-content/uploads/2022/04/logo-1.png" alt=""></i>
          <h3>Sum Ultimate Medicare</h3>
          <p>Sum ultimate is the best hospital in bhubaneswar providing best treatment with its top class facilities, 30+ specialities and expert doctors..</p>
          <a href="https://sumum.soahospitals.com/" target="_blank"  class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 70px;" src="https://neelachalhospital.org/img/nlogo.jpeg" alt=""></i>
          <h3>Neelachal Hospital</h3>
          <p>Based in Heart of Bhubaneswar, Neelachal Hospital has grown to include more than 30 specialties. Neelachal Hospital employs more than 250 people and provides ...</p>
          <a href="https://neelachalhospital.org/service.php"target="_blank"   class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
        <i class=""><img src="	https://healthvillagehospital.com/assets/images/logo/logo-dark.png" alt=""></i>
        <h3>Health Village Hospital</h3>
        <p>Health Village hospital, best hospital in Bhubaneswar, established in 2016, provides Multispecialty treatments for all health care issues.</p>
        <a href="https://healthvillagehospital.com/"target="_blank"   class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
    </div>

    <div class="box">
        <i class=""><img style="height: 50px;" src="https://karhospitals.com/wp-content/uploads/2023/09/logo.jpg" alt=""></i>
        <h3>UTKAL HOSPITAL</h3>
        <p>Welcome to. Utkal Hospital. We've built a long standing relationship based on trust & Responsible and diligent approach to each patient. High quality health ...</p>
        <a href="https://karhospitals.com/"target="_blank"   class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
    </div>
  </div>

</section>
  
  
<!-- GOVERNMENT HOSPITALS -->
<section class="services" id="govtHospitals">

  <h1 class="heading"> Government <span>Hospital</span> </h1>

  <div class="box-container">

    <div class="box">
      <i class=""><img style="height: 60px;" src="	https://ganjam.dhhodisha.in//upload/79logo-Ganjam.png" alt=""></i>
      <h3>District Headquarters Hospital,Berhampur</h3>
      <p>The district headquarters is Chhatrapur. Ganjam is divided into three sub-divisions Chhatrapur, Berhampur, and Bhanjanagar and well renouned.</p>
      <a href="https://ganjam.dhhodisha.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
  </div>

  <div class="box">
    <i class=""><img style="height: 60px;" src="https://mayurbhanj.dhhodisha.in//upload/421logo-Mayurbhanj.png" alt=""></i>
    <h3>District Headquarters Hospital, Baripada</h3>
    <p>District Headquarter Hospital in Baripada, Mayurbhanj is one of the most renowned Hospitals in the area. Countless locals in Baripada have placed immense trust ...</p>
    <a href="https://mayurbhanj.dhhodisha.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
</div>

<div class="box">
  <i class=""><img style="height: 60px;" src="https://keonjhar.dhhodisha.in//upload/39logo-Keonjhar.png" alt=""></i>
  <h3>District Headquarters Hospital, Keonjhar</h3>
  <p>Keonjhar is an established name in patient care and is a well-known hospital of Kendujhar, Odisha. Dhh, Keonjhar have advanced healthcare facilities ..</p>
  <a href="https://keonjhar.dhhodisha.in//" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
</div>

<div class="box">
<i class=""><img style="height: 60px;" src="https://dhenkanal.dhhodisha.in//upload/479logo-Dhenkanal.png" alt=""></i>
<h3>District Headquarters Hospital, Dhenkanal</h3>
<p>Owing to lack of good private health care facilities in the district, DHH Dhenkanal is the most preferred healthcare facility for secondary care services.</p>
<a href="https://dhenkanal.dhhodisha.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
</div>

      <div class="box">
          <i class=""><img style="height: 50px;" src="https://puri.dhhodisha.in//upload/682purilogo.png" alt=""></i>
          <h3> District Headquarters Hospital, Puri</h3>
          <p>PURI earlier known as Puri Pilgrimage Hospital ,was rebuilt in the year 1909-10,DHH Puri is the most renowned and preferred healthcare facility of the ..</p>
          <a href="https://puri.dhhodisha.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 60px;" src="https://cuttack.dhhodisha.in//upload/187logo-Cuttack.png" alt=""></i>
          <h3>City Hospital, Cuttack</h3>
          <p>There is one District Head Quarter Hospital (DHH) at City Hospital, Cuttack. The district health system has been envisaged as per the norms set up by the state ...</p>
          <a href="https://cuttack.dhhodisha.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 60px;"  src="https://www.vimsar.ac.in/images/logo.png" alt=""></i>
          <h3> Burla Medical Hospital, Burla</h3>
          <p>Burla at VIMSAR, Burla New; Apr ... Medical College and Hospital situated by the side ... This rural medical college has many dreams yet to be ...</p>
          <a href="https://www.vimsar.ac.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>

      <div class="box">
          <i class=""><img style="height: 70px;" src="https://scbmch.in/wp-content/uploads/2020/11/logo_scb.png" alt=""></i>
          <h3> S.C.B. Medical Hospital, Cuttack</h3>
          <p>This is a State Government Medical College and Hospital set up by the Government of Odisha under the Health</p>
          <a href="https://scbmch.in/" target="_blank" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
      </div>




      

  </div>

</section>


<!-- PATHOLOGY LABS -->
<section class="services" id="pathlab">

  <h1 class="heading"> Pathology <span>Labs</span> </h1>

              


<main>
    <form id="hospitalForm">
        <label for="state">Select State:</label>
        <select id="state" name="state">
            <option value="">Select</option>
            <option value="state1">Odisha</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        <label for="city">Select City:</label>
        <select id="city" name="city">
            <option value="">select</option>
            <!-- City options will be populated based on the selected state -->
        </select>
        <br>
        <label for="hospital">Select Hospital:</label>
        <select id="hospital" name="hospital">
            <!-- Hospital options will be populated based on the selected city -->
        </select>
        <br>
        <button type="submit">See Details</button>
    </form>
</main>

<aside id="hospitalDetails">
    <!-- Hospital information will be displayed here -->
</aside>

<script>
    // Sample data for demonstration purposes
    var citiesByState = {
      state1: ['Ganjam', 'Rayagada', 'Cuttack','Sambalpur','Khorda','Sundarghar','puri','Keonjhar','koraput','kalahandi',],
      // state2: ['City X', 'City Y', 'City Z']
  };

  var hospitalsByCity = {
    'Ganjam': [
        { name: 'Amit Hospital', address: 'Ganjam, Odisha' },
        { name: 'Aashta Hospital', address: 'Ganjam, Odisha' },
        { name: 'MKCG Hospital', address: 'Ganjam, Odisha' }
    ],
    'Rayagada': [
        { name: 'Distrit Hospital Rayagada', address: 'Rayagada, Odisha' },
        { name: 'Christian Hospital Rayagada', address: 'Rayagada, Odisha' },
        { name: 'Somonath Meorial Hospital', address: 'Rayagada, Odisha' }
    ],
    'Cuttack': [
        { name: 'Cuttack SCB Hospital', address: 'Cuttack, Odisha' },
        { name: 'Sun Hospital', address: 'Cuttack, Odisha' },
        { name: 'Chanayak Hospital', address: 'Cuttack, Odisha' }
    ],
    'Sambalpur': [
        { name: 'Burla Medical', address: 'Sambalpur, Odisha' },
        { name: 'Binayak Hospital', address: 'Sambalpur, Odisha' },
        { name: 'Aarogyam Hospital', address: 'Sambalpur, Odisha' }
    ],
    'Khorda': [
        { name: 'Aims Hospital', address: 'Khorda, Odisha' },
        { name: 'Aapolo Hospital', address: 'Khorda, Odisha' },
        { name: 'Utkal Hospital', address: 'Khorda, Odisha' }
    ],
    'Sundarghar': [
        { name: 'KTH Hospital', address: 'Sundarghar, Odisha' },
        { name: 'Life Line Hospital', address: 'Sundarghar, Odisha' },
        { name: 'Rourkela Govt. Hospital', address: 'Sundarghar, Odisha' }
    ],
    'puri': [
        { name: 'Shree Sai Hospital', address: 'Puri, Odisha' },
        { name: 'Puri Distrit Hospital', address: 'Puri, Odisha' },
        { name: 'Devaki Hospital', address: 'Puri, Odisha' }
    ],
    'Keonjhar': [
        { name: 'HIMA Hospital', address: 'Keonjhar, Odisha' },
        { name: 'Saidev Hospital', address: 'Keonjhar, Odisha' },
        { name: 'Keonjhar Hospital', address: 'Keonjhar, Odisha' }
    ],
    'koraput': [
        { name: 'usha Hospital', address: 'koraput, Odisha' },
        { name: 'Distrit Headquater Hospital', address: 'koraput, Odisha' },
        { name: 'Care One Hospital', address: 'koraput, Odisha' }
    ],
    'kalahandi': [
        { name: 'Kesinga New Govt Hospital', address: 'kalahandi, Odisha' },
        { name: 'vedanto Hospital', address: 'kalahandi, Odisha' },
        { name: 'Narla Govt. Hospital', address: 'kalahandi, Odisha' }
    ]
};


    // Function to create a card element
    function createHospitalCard(name, address) {
        var card = document.createElement('div');
        card.classList.add('hospital-card');
        card.innerHTML = `
            <h2>${name}</h2>
            <p>${address}</p>
            <a href="#" class="card-link">Learn More</a>
        `;
        return card;
    }

    // Form submission handling
    document.getElementById('hospitalForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var state = document.getElementById('state').value;
        var city = document.getElementById('city').value;
        var hospitalIndex = document.getElementById('hospital').value;

        // Get the hospital information based on the selected city and index
        var hospitalInfo = hospitalsByCity[city][hospitalIndex];

        // Create a card for the selected hospital
        var card = createHospitalCard(hospitalInfo.name, hospitalInfo.address);

        // Clear the hospital details aside
        document.getElementById('hospitalDetails').innerHTML = '';

        // Append the card to the hospitalDetails aside
        document.getElementById('hospitalDetails').appendChild(card);
    });

    // Populate city dropdown based on selected state
    document.getElementById('state').addEventListener('change', function () {
        var state = this.value;
        var cityDropdown = document.getElementById('city');
        cityDropdown.innerHTML = '';
        citiesByState[state].forEach(function (city) {
            var option = document.createElement('option');
            option.textContent = city;
            cityDropdown.appendChild(option);
        });
    });

    // Populate hospital dropdown based on selected city
    document.getElementById('city').addEventListener('change', function () {
        var city = this.value;
        var hospitalDropdown = document.getElementById('hospital');
        hospitalDropdown.innerHTML = '';
        hospitalsByCity[city].forEach(function (hospital, index) {
            var option = document.createElement('option');
            option.textContent = hospital.name;
            option.value = index;
            hospitalDropdown.appendChild(option);
        });
    });
</script>


</section>

    
<!-- FOOTER -->

<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>quick links</h3>
          <a href="#home"> <i class="fas fa-chevron-right"></i> home </a>
          <a href="#about"> <i class="fas fa-chevron-right"></i> about </a>
          <a href="#services"> <i class="fas fa-chevron-right"></i> services </a>
          <a href="#doctors"> <i class="fas fa-chevron-right"></i> doctors </a>
          <a href="#appointment"> <i class="fas fa-chevron-right"></i> appointment </a>
          <a href="#review"> <i class="fas fa-chevron-right"></i> review </a>
          <a href="#blogs"> <i class="fas fa-chevron-right"></i> blogs </a>
      </div>

      <div class="box">
          <h3>our services</h3>
          <a href="#"> <i class="fas fa-chevron-right"></i> dental care </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> message therapy </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> cardioloty </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> ambulance service </a>
      </div>

      <div class="box">
          <h3>appointment info</h3>
          <a href="#"> <i class="fas fa-phone"></i> +91 7688238801 </a>
          <a href="#"> <i class="fas fa-phone"></i> +91 8178254697 </a>
          <a href="#"> <i class="fas fa-envelope"></i> support@gmail.com</a>
          <a href="#"> <i class="fas fa-envelope"></i> healthcare@gmail.com </a>
          <a href="#"> <i class="fas fa-map-marker-alt"></i> gietu,gunupur </a>
      </div>

      <div class="box">
          <h3>follow us</h3>
          <a href="#"> <i class="fab fa-faceappointment-f"></i> faceappointment </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
          <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
          <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
          <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
      </div>

  </div>


</section>

  
  
  </div>


</body>

<script>
  // Get the current date
  var currentDate = new Date();

  // Format the date as YYYY-MM-DD
  var formattedDate = currentDate.toISOString().slice(0, 10);

  // Update the content of the element with id "date"
  document.getElementById("date").textContent = formattedDate;


</script>
</html>